{% extends "base.html" %}

{% block body %}
<div class="container-fluid">



    <!-- Begin vung input-->

    <div class="row">

        <div class="col-md-8 mx-auto mt-4">
            <div class="card text-center">
                <div class="card-header">
                    <h5>会員情報編集</h5>
                </div>
                <div class="card-body text-left">

                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}

                    <form action="{{url_for('auth.confirm')}}" onsubmit="return(checkDate())" id="addForm"
                        method="POST">
                        {{ form.csrf_token }}

                        <fieldset class="email form-group row mt-4">
                            <label for="email" class="col-sm-3 col-form-label">
                                <span class="text-danger">* </span>{{ form.email.label }}
                            </label>
                            <div class="col-sm-5">
                                {% if user %}
                                {{ form.email( class="form-control",type="mail", disabled=True, value=user.User.email)}}
                                {% else %}
                                {{ form.email( class="form-control",type="mail")}}
                                {% endif %}
                                {% if form.email.errors %}
                                <div class="errors">
                                    {% for error in form.email.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>{% endfor %}
                                    </d>
                                    {% endif %}
                                </div>
                        </fieldset>

                        <fieldset>{{form.id(value=form.id.data)}}</fieldset>

                        <fieldset class="role form-group row mt-4">
                            <label for="role" class="col-sm-3 col-form-label">
                                <span class="text-danger">* </span>{{ form.role.label }}
                            </label>
                            <div class="col-sm-3">
                                {{ form.role(class="form-control", value=form.role.data) }}
                                {% if form.role.errors %}
                                <div class="errors">
                                    {% for error in form.role.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <fieldset class="group form-group row mt-4">
                            <label for="group" class="col-sm-3 col-form-label">
                                <span class="text-danger">* </span>{{ form.group.label }}
                            </label>
                            <div class="col-sm-3">
                                {{ form.group(class="form-control", value=form.group.data) }}
                                {% if form.group.errors %}
                                <div class="errors">
                                    {% for error in form.group.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <fieldset class="gender form-group row mt-4">
                            <label for="gender" class="col-sm-3 col-form-label">
                                <span class="text-danger">* </span>{{ form.gender.label }}
                            </label>
                            <div class="col-sm-3">
                                {{ form.gender(class="form-control", value=form.gender.data) }}
                            </div>
                        </fieldset>

                        <fieldset class="full_name form-group row mt-4">
                            <label for="full_name" class="col-sm-3 col-form-label">
                                <span class="text-danger">* </span>{{ form.full_name.label }}
                            </label>
                            <div class="col-sm-5">
                                {{ form.full_name(class="form-control", value=form.full_name.data) }}
                                {% if form.full_name.errors %}
                                <div class="errors">
                                    {% for error in form.full_name.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <fieldset class="full_name_kana form-group row mt-4">
                            <label for="full_name_kana" class="col-sm-3 col-form-label">
                                {{ form.full_name_kana.label }}
                            </label>
                            <div class="col-sm-5">
                                {{ form.full_name_kana(class="form-control", type="text", value=form.full_name_kana.data) }}
                                {% if form.full_name_kana.errors %}
                                <div class="errors">
                                    {% for error in form.full_name_kana.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <fieldset class="birthday form-group row mt-4">
                            <label for="birthday" class="col-sm-3 col-form-label"><span class="text-danger">*</span>
                                {{ form.birthday.label }}
                            </label>
                            <div class="col-sm-3">
                                {% if user %}
                                {{ form.birthday(class="form-control", type="date", value=form.birthday.data) }}
                                {% else %}
                                {{ form.birthday( class="form-control",type="date")}}
                                {% endif %}

                                {% if form.birthday.errors %}
                                <div class="errors">
                                    {% for error in form.birthday.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <fieldset class="persional_email form-group row mt-4">
                            <label for="persional_email" class="col-sm-3 col-form-label">
                                {{ form.persional_email.label }}
                            </label>
                            <div class="col-sm-5">
                                {{ form.persional_email(class="form-control", type="text", value=form.persional_email.data) }}
                                {% if form.persional_email.errors %}
                                <div class="errors">
                                    {% for error in form.persional_email.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <fieldset class="tel form-group row mt-4">
                            <label for="tel" class="col-sm-3 col-form-label"><span class="text-danger">*</span>
                                {{ form.tel.label }}</label>
                            <div class="col-sm-5">
                                {{ form.tel(class="form-control", type="text",autocomplete="tel", value=form.tel.data) }}
                                {% if form.tel.errors %}
                                <div class="errors">
                                    {% for error in form.tel.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <fieldset class="password form-group row mt-4">
                            <label for="password" class="col-sm-3 col-form-label"><span class="text-danger">*</span>
                                {{ form.password.label }}
                            </label>
                            <div class="col-sm-5">
                                {{ form.password(class="form-control", type="password", autocomplete="new-password") }}
                                {% if form.password.errors %}
                                <div class="errors">
                                    {% for error in form.password.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>

                        </fieldset>

                        <fieldset class="confirm form-group row mt-4">
                            <label for="confirm" class="col-sm-3 col-form-label"><span class="text-danger">*</span>
                                {{ form.confirm.label }}
                            </label>
                            <div class="col-sm-5">
                                {{ form.confirm(class="form-control", type="password", autocomplete="new-password") }}
                                {% if form.confirm.errors %}
                                <div class="errors">
                                    {% for error in form.confirm.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="mt-4">
                            <a class="font-weight-bold" data-toggle="collapse" href="#collapse1" role="button"
                                aria-expanded="false" aria-controls="collapse1">端末</a>
                        </div>

                        <div class="collapse" id="collapse1">
                            <div id="mydevice" class="abc device-list">
                                {% if devices_by_id %}
                                {% for device_by_id in devices_by_id %}
                                <section class="devices">
                                    <div class="form-group row mt-4">
                                        <label for="device" class="col-sm-2 col-form-label">
                                            <span class="text-danger">*</span>装置名:
                                        </label>
                                        <div class="col-sm-3">
                                            <select name="device0{{device_by_id.User_device_history.id}}"
                                                class="form-control">

                                                <option value="">選択してください</option>
                                                {% for device in devices %}
                                                {% if device_by_id.device_id == device.device_id %}
                                                <option selected value="{{ device.device_id }}">{{ device.device_name }}
                                                </option>
                                                {% else %}
                                                <option value="{{ device.device_id }}">{{ device.device_name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <label for="date_start" class="col-form-label">
                                            開始日:<span>&nbsp;</span>
                                        </label>
                                        <div>
                                            <input type="date" class="date_start form-control"
                                                id="date_start0{{device_by_id.User_device_history.id}}"
                                                name="date_start0{{device_by_id.User_device_history.id}}"
                                                value="{{device_by_id.User_device_history.start_date}}">
                                        </div>

                                        <label for="date_end" class="col-form-label ml-2">
                                            失効日:<span>&nbsp;</span><span>&nbsp;</span>
                                        </label>
                                        <div>
                                            <input type="date" class="date_end form-control"
                                                id="date_end0{{device_by_id.User_device_history.id}}"
                                                name="date_end0{{device_by_id.User_device_history.id}}"
                                                value="{{device_by_id.User_device_history.end_date}}">
                                        </div>
                                        <input type="hidden" name="dev_his_id"
                                            value="{{device_by_id.User_device_history.id}}">
                                        <div class="col-sm-2"><a class="deleteRow"></a></div>
                                    </div>
                                </section>
                                {% endfor %}
                                {% else %}
                                <section class="devices">
                                    <div class="form-group row mt-4">
                                        <label for="device" class="col-sm-2 col-form-label">
                                            <span class="text-danger">*</span>装置名:
                                        </label>
                                        <div class="col-sm-3">
                                            <select name="device0" id="device0" class="form-control"
                                                onchange="addRequired(0)">
                                                <option value="">選択してください</option>
                                                {% for device in devices %}
                                                <option value="{{ device.device_id }}">{{ device.device_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <label for="date_start" class="col-form-label">
                                            開始日:<span>&nbsp;</span>
                                        </label>
                                        <div>
                                            <input type="date" class="date_start form-control" id="date_start0"
                                                name="date_start0">
                                        </div>

                                        <label for="date_end" class="col-form-label ml-2">
                                            失効日:<span>&nbsp;</span><span>&nbsp;</span>
                                        </label>
                                        <div>
                                            <input type="date" class="date_end form-control" id="date_end0"
                                                name="date_end0">
                                        </div>

                                        <input type="hidden" name="dev_his_id" value="">
                                        <div class="col-sm-2"><a class="deleteRow"></a></div>
                                    </div>
                                </section>
                                {%  endif %}
                            </div>

                            <div>
                                <div id="dateErr" class="text-center mb-2"><label class="badge badge-danger"></label>
                                </div>
                                <input type="button" class="btn btn-secondary btn-block " id="addrow" value="+" />
                            </div>
                            
                            <script>
                                $(document).ready(function () {
                                    var counter = 1;

                                    $("#addrow").on("click", function () {
                                        var newRow = $("<section>");
                                        var cols = "";
                                        cols += '<div class="form-group row mt-4">';
                                        cols +=
                                            '<label for="device" class="col-sm-2 col-form-label"><span class="text-danger">*</span>装置名:</label>';
                                        cols += `<div class="col-sm-3">
                                            <select name="device` + counter + `" id="device` + counter +
                                            `" class="form-control" onchange="addRequired(` + counter + `)">
                                                <option value="">選択してください</option>
                                                {% for device in devices %}
                                                <option value="{{ device.device_id }}">{{ device.device_name }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>

                                            <label for="date_start" class="col-form-label">
                                                開始日:<span>&nbsp;</span>
                                            </label>
                                            <div>
                                                <input type="date" id="date_start` + counter +
                                            `" class="date_start form-control" name="date_start` +
                                            counter + `">
                                            </div>

                                            <label for="date_end" class="col-form-label ml-2">
                                                失効日:<span>&nbsp;</span><span>&nbsp;</span>
                                            </label>
                                            <div>
                                                <input type="date" id="date_end` + counter +
                                            `" class="date_end form-control" name="date_end` + counter + `">
                                            </div>
                                            <input type="hidden" name="dev_his_id" value="">
                                            <div><input type="button" class="ibtnDel btn btn-danger ml-2"  value="-"></div>
                                            </div>`
                                        newRow.append(cols);
                                        $("#mydevice").append(newRow);
                                        counter++;
                                    })

                                    $("#mydevice").on("click", ".ibtnDel", function (e) {
                                        e.preventDefault();
                                        $(this).closest("section").remove();
                                        counter -= 1
                                    });
                                })
                            </script>
                        </div>

                        <div class="form-group row mt-4">
                            <div class="submit-button col-sm-5 offset-sm-3">
                                {{form.submit(class="btn btn-secondary")}}

                                <button type="button" class="btn btn-dark ml-2" onclick="goBack()">戻る</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    #
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End vung input -->

</div>
{% endblock %}