{% extends "base.html" %}

{% block body %}
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-md-6 mx-auto">
            <div class="card border-secondary text-dark">
                <div class="card-body">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    <form action="{{url_for('auth.updatepassword', id=id)}}" method="POST">
                        {{ form.csrf_token }}
                        <div class="form-group row">
                            <p class="col-sm-12 text-center font-weight-bold" style="margin-top: 1rem;">
                                Change Password User</p>
                        </div>
                        <fieldset class="form-group row">
                            <label for="password" class="col-sm-5 col-form-label">
                                {{form.password.label}}
                            </label>
                            <div class="col-sm-7">
                                {{form.password(class="form-control")}}
                            </div>
                            <div class="w-100 text-center">
                                {% if form.password.errors %}
                                <div class="errors">
                                    {% for error in form.password.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>

                        </fieldset>
                        <fieldset class="form-group row">
                            <label for="confirm" class="col-sm-5 col-form-label">
                                {{form.confirm.label}}
                            </label>
                            <div class="col-sm-7">
                                {{form.confirm(class="form-control")}}
                            </div>
                            <div class="w-100 text-center">
                                {% if form.confirm.errors %}
                                <div class="errors">
                                    {% for error in form.confirm.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset class="form-group row">
                            <div class="col-sm-6 offset-sm-5">
                                {{form.submit(class="btn btn-dark text-white font-weight-bold")}}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
