{% extends "base.html" %}

{% block body %}
<div class="container-fluid">

    <!-- Begin content -->
    <div class="pt-5 pl-5">
        <p class="font-weight-bold">情報確認</p>
    </div>

    <div class="row pl-5">
        <div class="col-md-6">
            <table class="table table-bordered mt-4">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <th scope="row" style="width: 30%;">アカウント名:</th>
                        <td>
                            {{user.User.email}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">グループ:</th>
                        <td>
                            {{ user.group_name }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">氏名:</th>
                        <td>
                            {{user.User.full_name}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">カタカナ氏名:</th>
                        <td>
                            {{user.User.full_name_kana}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">生年月日:</th>
                        <td>
                            {{ user.User.birthday}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">メールアドレス:</th>
                        <td>
                            {{ user.User.persional_email}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">電話番号:</th>
                        <td>
                            {{ user.User.tel}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered mt-4">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">
                            <a class="font-weight-bold" data-toggle="collapse" href="#collapse3" role="button"
                                aria-expanded="false" aria-controls="collapse3">端末</a>
                        </th>
                    </tr>
                </thead>

                <tbody class="collapse" id="collapse3">
                    <tr>
                        <th scope="row">装置名</th>
                        <td>
                            開始日
                        </td>
                        <td>
                            終了日
                        </td>
                    </tr>
                    {% for device in devices_his %}
                    <tr>
                        <th scope="row">{{device.device_name}}</th>
                        <td>
                            {{device.User_device_history.start_date}}
                        </td>
                        <td>
                            {{device.User_device_history.end_date}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pb-5">
                <form action="" id="formSubmit" method="post">
                    <a href=" {{ url_for('auth.edit', id = user_id) }} " style="margin-left: 30%;" class="btn btn-secondary">編集</a>
                    <a href=" {{ url_for('auth.delete', id = user_id) }}" onclick="return delUser()" class="btn btn-danger ml-2">削除</a>
                    <a href="#" class="btn btn-dark ml-2" onclick="goBack()">戻る</a>
                </form>
            </div> 
        </div>
    </div>
    <!-- End content -->

</div>
{% endblock %}
