<!-- Begin vung header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('main.index')}}">
            <img src="../static/images/logo-bap-software.png" width="100%" height="100%"
                style="filter:brightness(100%);" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{url_for('main.index')}}">トップ</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
            </ul>
            <span class="navbar-item">
                {% if current_user.is_authenticated %}
                <a class="nav-link font-weight-bold text-dark">Hi {{ current_user.full_name }}!</a>
                {% endif %}
            </span>
            <span class="navbar-item">
                <a class="nav-link font-weight-bold" href="{{url_for('main.index')}}">トップ <i class="fas fa-house-user"></i></a>
            </span>
            <span class="navbar-item">
                <a class="nav-link font-weight-bold" href="{{url_for('auth.logout')}}">ログアウト <i class="fas fa-sign-out-alt"></i></a>
            </span>
        </div>
    </nav>
</header>
<!-- End vung header -->